@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.dark body {
}

#root {
  max-width: 768px;
  margin: 0 auto; /* Centraliza o conteúdo */
  padding: 2rem; /* Mantém o padding original */
}

.prose pre,
.prose code {
  white-space: pre-wrap; /* Permite quebra de linha */
  word-break: break-word; /* Força quebra de palavras longas */
}

.prose p,
.prose li {
  text-align: justify;
}