@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  @apply bg-light-background text-light-text-primary;
}

.dark body {
  @apply bg-dark-background text-dark-text-primary;
}

#root {
  max-width: 768px; /* Equivalente a max-w-3xl */
  margin: 0 auto; /* Centraliza o conteúdo */
  padding: 2rem; /* Mantém o padding original */
}

.prose pre,
.prose code {
  white-space: pre-wrap; /* Permite quebra de linha */
  word-break: break-word; /* Força quebra de palavras longas */
}

.prose p,
.prose li {
  text-align: justify;
}